Flask==0.10.1
Flask-Bootstrap==3.3.0.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
argparse==1.2.1
colorama==0.2.5
html5lib==0.999
itsdangerous==0.24
reportlab==3.0
requests==2.2.1
sessioninstaller==0.0.0
simplejson==3.6.5
software-center-aptd-plugins==0.0.0
system-service==0.1.6
virtualenv==1.11.6
virtualenvwrapper==4.3.1
wsgiref==0.1.2
