<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"    content="width=device-width, initial-scale=1.0">
<meta name="description" content="The Web Audit App profiles a website to show a
user what third party actions occur when they connect to that website.">
<meta name="author"      content="Anders Dahl, Blakely Madden">

<title>Web Audit App</title>

<link rel="shortcut icon" href="static/images/favicon.ico">

<!-- Bootstrap itself -->
<link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css">

<!-- Custom styles -->
<link rel="stylesheet" href="static/css/magister.css">

<!-- Fonts -->
<link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body class="theme-invert">

<nav class="mainmenu">
  <div class="container">
    <div class="dropdown">
      <button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><a href="#head" class="active">Web Audit</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">The Developers</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Main (Home) section -->
<section class="section" id="head">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
        <h1 class="title">Web Audit</h1>
        <div class="form-group">
          <input type="website" class="form-control"
          id="website" placeholder="Website" style="text-align: center">
        </div>
        <h3 class="tagline">
          Connect to a website to see what 3rd party connections occur. The app
          looks for common tracking websites such as Google Analytics.<br>
        </h3>
      </div>
    </div>
  </div>
</section>

<!-- Second (About) section -->
<section class="section" id="about">
  <div class="container text-center">
    <h2 class="text-center title">About Web Audit</h2>
    <img src="static/images/mark.png" alt="" align="center" height="10%"
    width="10%">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <h5><strong>About<br></strong></h5>
        <p>Fill in how the app works here.</p>
      </div>
      <div class="col-sm-4">
        <h5><strong>More About the App<br></strong></h5>
        <p>Fill in how the app works here.</p>
      </div>
    </div>
  </div>
</section>

<!-- Fourth (Contact) section -->
<section class="section" id="contact">
  <div class="container">

    <h2 class="text-center title">About the Developers</h2>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <p class="lead">We are two students from Northeastern Unviversity. We
        both enjoy programming especially at a low level close to the hardware.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Load js libs only when the page is loaded. -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/modernizr.custom.72241.js"></script>
<!-- Custom template scripts -->
<script src="static/js/magister.js"></script>
</body>
</html>
